#### Delningtaggar ####
#######################

#### Konfiguration ####

## Bestämmer i vilken ordning bilder ska hämtas ur metadata.
#set ($imageOrder = ['SV.Image'])
#set ($imageFallbackUrl = '/webdav/files/logga.png')
#set ($renderImageMeta = true)

## Bestämmer i vilken ordning ingress ska hämtas ut metadata.
#set ($preambleOrder = ['SV.Description'])
#set ($renderPreambleMeta = true)
#set ($renderPreambleAsDescription = true)


## Bestämmer i vilken ordning rubrik/titel ska hämtas ut metadata.
#set ($titleOrder = ['SV.Title'])
#set ($renderTitleMeta = true)

#### /Konfiguration ####

### Macros ###

#macro ( loadText $metas $result )
   #foreach ($meta in $metas)
      #if ($result == '')
            #set ($result = $propertyUtil.getString($currentPage, $meta, ""))
      #end
   #end
#end



### Variabler ###

#set ($utils = $request.getAttribute('sitevision.utils'))
#set ($nodeTreeUtil = $utils.nodeTreeUtil)
#set ($propertyUtil = $utils.propertyUtil)
#set ($currentPage = $utils.portletContextUtil.currentPage)

#set ($imageUrl = '')
#set ($preambleText = '')
#set ($titleText = '')

#if ($renderImageMeta)
   #foreach ($meta in $imageOrder)
      #if ($imageUrl == '')
         #set ($imageUrl = $propertyUtil.getNestedString($currentPage, $meta, 'URL', ''))
      #end
   #end
   
   #if ($imageUrl == '')
      #if ($imageFallbackUrl != '')
         #if ($imageFallbackUrl.substring(0, 1) == '/')
            #set ($sitePageUrl = $propertyUtil.getString($utils.resourceLocatorUtil.sitePage, 'URL'))
            #set ($sitePageUri = $propertyUtil.getString($utils.resourceLocatorUtil.sitePage, 'URI'))
            
            #set ($imageFallbackUrl = $sitePageUrl.replace($sitePageUri, '') + $imageFallbackUrl)
         #end
         
         #set ($imageUrl = $imageFallbackUrl)
      #end
   #end
   
   <meta property='og:image' content='$!imageUrl' />
#end

#if ($renderPreambleMeta)
   #loadText ($preambleOrder $preambleText)
   #if ($preambleText != '')
      <meta property="og:description" content="$!preambleText" />
      
      #if ($renderPreambleAsDescription)
         <meta name="description" content="$!preambleText" />
      #end
   #end
#end

#if ($renderTitleMeta)
   #loadText ($titleOrder $titleText)
   
   #if ($titleText != '')
      <meta property="og:title" content="$!titleText" />
   #end
#end

<meta property="og:url" content="$propertyUtil.getString($currentPage, 'URL')" />